<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Блюдо</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu_style.css}"/>
</head>
<body>
<table>
    <tr>
        <th><a href="main">Главная</a></th>
        <th><a href="menu">Меню</a></th>
        <th><a href="orders">Заказы</a></th>
        <th><a href="basket">Корзина (<span th:text="${session.basket_quantity}"></span></a>)</th>
        <th><a href="redirect:about">О нас</a></th>
        <th><a href="logout">Выйти</a></th>
    </tr>
</table>
<div id="header">
    <h1>Ваше блюдо</h1>
    <p class="descript">Выбранное блюдо</p>
</div>
<p align="right"><span th:text="${session.username} ?: 'Guest'"></span>, Вы выбрали блюдо.</p>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Описание</th>
        <th>Цена, руб.</th>
        <th>Добавить в заказ</th>
    </tr>
    <tr>
        <td th:text="${meal.id}"></td>
        <td th:text="${meal.name}"></td>
        <td th:text="${meal.category}"></td>
        <td th:text="${meal.description}"></td>
        <td th:text="${meal.price}"></td>
        <td>
            <form th:action="@{/menu/addToBasket}" method="get">
                <input type="hidden" th:name="menuId" th:value="${meal.id}"/>
                <input type="submit" value="ДА"/>
            </form>
        </td>
    </tr>
</table>
</body>

</html>