<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Форма добавления блюда</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<table>

</table>

<div id="header">
    <h1>Добавление нового блюда</h1>
    <p class="descript">Заполните поля</p>
</div>

<form th:action="@{/menu/new}" th:object="${meal}" method="post">
    <p>Имя блюда: <input type="text" th:field="*{name}"/></p>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th: errors="*{name}">Name error</div>

    <p>Категория:
        <input type="radio" name="category" value="STARTER">Холодные блюда
        <input type="radio" name="category" value="MAIN_COURSED">Горячие блюда
        <input type="radio" name="category" value="SOUP">Супы
        <input type="radio" name="category" value="SNACK">Закуски
        <input type="radio" name="category" value="DESSERT">Десерты
        <input type="radio" name="category" value="DRINK">Напитки
    </p>
    <p>Цена: <input type="text" th:field="*{price}"/></p>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th: errors="*{price}">Price error</div>
    <p>Описание: <input type="text" th:field="*{description}"/></p>
    <p>Доступность:
        <input type="radio" name="enabled" value="ENABLED">Доступен
        <input type="radio" name="enabled" value="DISABLED">Недоступен</p>
    <br>
    <p><input type="submit" value="Добавить"/> <input type="reset" value="Сбросить"/></p>
</form>

</body>
</html>