<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <title>Ресторан</title>

</head>
<body>
<table>
    <tr>


    </tr>
</table>

<div id="header">
    <h1>Приветствую!</h1>
    <img src="H:\ Project\my_restaurant\my_restaurant\src\main\resources\static\css\img\start.jpg">
    <p class="descript">Меня зовут Сергей</p>
</div>
<br>
<h2>И это мой проект ресторана</h2>
<br>
<h3>Для начала - нажмите на <a href="main">СТАРТ</a></h3>
<br>
<!--<th><a href="main">СТАРТ</a></th>-->

<link rel="stylesheet" type="text/css" th:href="@{/css/style_index.css}"/>
<!--<link rel="stylesheet" type="text/css" th:href="@{/css/index_style.css}"/>-->

</body>
</html>