<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <title>Ресторан</title>

</head>
<body>
<table>
    <tr>


    </tr>
</table>

<div id="header">
    <h1>Конец!</h1>
    <img src="H:\ Project\my_restaurant\my_restaurant\src\main\resources\static\css\img\start.jpg">
    <p class="descript">Спасибо, за внимание</p>
</div>
<br>
<h3>Попробовать  <a href="main">ЕЩЕ</a></h3>
<br>

<link rel="stylesheet" type="text/css" th:href="@{/css/style_index.css}"/>

</body>
</html>