<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8" />
    <title>Ресторан</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu_style.css}"/>
</head>
<body>
<table>
    <tr>
        <th><a href="main">Главная</a></th>
        <th><a href="menu">Меню</a></th>
        <th><a href="login">Войти</a></th>
        <th><a href="registration">Зарегистрироваться</a></th>

        <th><a href="about">О нас</a></th>
    </tr>
</table>

<div id="header">
    <h1>Мой ресторан</h1>
    <p class="descript">Главная страница</p>
</div>
<p align="right">Привет, <span th:text="${session.username} ?: 'Guest'"></span>.</p>

</body>
</html>