<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Меню</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu_style.css}"/>
</head>
<body>
<table>
    <tr>
        <th><a href="main">Главная</a></th>
        <th><a href="menu_unreg">Меню</a></th>
        <th><a href="login">Войти</a></th>
        <th><a href="registration">Зарегистрироваться</a></th>
    </tr>
</table>
<div id="header">
    <h1>Мой ресторан</h1>
    <p class="descript">Меню (Для заказа нужна авторизация)</p>
</div>
<p align="right"><span th:text="${session.username} ?: 'Guest'"></span>, ознакомьтесь с меню.</p>

<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Категория</th>
        <th>Цена, руб.</th>
        <th>Нажми заказать</th>
    </tr>

    <tr th:each="meal : ${meal}">
        <td th:href="@{/menu/{id}(id=${meal.getId()})}"
            th:text="${meal.name}">ID
        </td>
        <td th:href="@{/menu/{name}(name=${meal.getName()})}"
            th:text="${meal.name}">NAME
        </td>
        <td th:text="${meal.category}"></td>
        <td th:text="${meal.description}"></td>
        <td th:text="${meal.price}"></td>


        <!--        <td th:text="${meal.id}"></td>-->
        <!--        <td th:text="${meal.name}"></td>-->

    </tr>

</table>
</body>
</html>