#header{
  position:relative;
}
h1{
  position:relative;
  color: #1400e0;
  left: 140px;
  font: 50px Arial;
  margin-left: 500px;
}
.descript{
  position:relative;
  width: 400px;
  color: #1400e0;
  font-style: italic;
  left: 650px;
  font-size:30px;
}
img{
  position:absolute;
  width: 604px;
  height: 403px;
  background-image: url("img/start.jpg");
  top:10px;
  left:10px;
}

h2, h3 {
  position:relative;
  color: #1400e0;
  left: 650px;
  font: 20px Arial;
}


td, th {
    border: 3px solid e40b00;
    text-align: left;
  position:relative;
  color: #1400e0;
  left: 650px;
    padding: 8px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



tr:nth-child(even) {
    background-color: #dddddd;
}
